<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharp_OpenCV.Properties.Settings.OpenCV_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-QUOOHBC;Initial Catalog=OpenCV_Database;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\Users\Zerdüşt\Documents\Visual Studio 2015\Projects\Project6\x64\Debug\" />
    </assemblyBinding>
  </runtime>
  
</configuration>